<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrenos de Cine de Hoy</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-4">
        <h1>Estrenos de Cine de Hoy</h1>
        <div class="row">
            {% for titulo, data in estrenos.items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ data.image_url }}" class="card-img-top" alt="{{ titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ titulo }}</h5>
                        <ul class="list-group list-group-flush">
                            {% for cinema in data.cinemas %}
                            <li class="list-group-item">
                                {{ cinema.cinema_name }}:
                                <ul class="list-inline">
                                    {% for time in cinema.times %}
                                    <li class="list-inline-item">
                                        <a href="{{ time.ticket_url }}" class="btn btn-outline-primary">{{ time.time }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
    