<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrenos de Cine de Hoy</title>
    {% load static %}   
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estrenos.css' %}">
</head>
<body>
    <div class="container mt-4">
        <div>
            <h1 style="text-align: center;">Estrenos de Cine de Hoy</h1>
        </div>

        <!-- Barra de búsqueda -->
    <div class="row">
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'mostrar_estrenos' %}">
            <input class="form-control mr-sm-2 search-input" type="search" name="search" placeholder="Buscar..." aria-label="Search" style="margin-bottom: 1em;  border-color: #00ADB5;">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button> -->
        </form>
    </div>
        
        <div class="row">
            {% for titulo, data in estrenos.items %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ data.image_url }}" class="card-img-top" alt="{{ titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.title }}</h5>
                        <ul class="list-group list-group-flush">
                            {% for cinema in data.cinemas %}
                            <li class="list-group-item">
                                {{ cinema.cinema_name }}:
                                <ul class="list-inline">
                                    {% for time in cinema.times %}
                                    <li class="list-inline-item">
                                        <a href="{{ time.ticket_url }}" class="btn btn-outline-primary">{{ time.time }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>